# Sample Production Environment Variable File
# These variables should be set in App Service App Settings
# See: https://docs.microsoft.com/en-us/azure/app-service/web-sites-configure#app-settings

# Set the Production Settings Module
DJANGO_SETTINGS_MODULE="chatapplication.chatapp.settings"

# Configure the SECRET_KEY for Django See: https://docs.djangoproject.com/en/2.1/ref/settings/#secret-key
SECRET_KEY="!ncc@zr13dvdncvsr7-c2=2!dt-nzpi4=86*bse73xh-kjrks0"

# Configure the PostgreSQL Database with App Specific Settings
DB_USER="chatapp@chatappserver"
DB_PASSWORD="Revanth@1998"
DB_NAME="postgres"
DB_HOST="chatappserver.postgres.database.azure.com"

# One-time use variables
# Only used for initial setup
POSTGRES_ADMIN_PASSWORD="Revanth@1998"
APP_SERVICE_NAME="Chat-Webapp"

# Required for error emails
#SEND_ADMIN_EMAILS="true"
#EMAIL_HOST_USER="your-email-account"
#EMAIL_HOST_PASSWORD="your-email-password"
#ADMIN_EMAIL_TO="email-target-account"
